@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&family=Dancing+Script:wght@700&family=Kalam&family=Lobster&display=swap');
@mixin kalam{
    font-family: 'Kalam', cursive;
}
@mixin lobster {
    font-family: 'Lobster', cursive;

}
@mixin dancingScript {
    font-family: 'Dancing Script', cursive;
}
@mixin chivo{
    font-family: 'Chivo', sans-serif;
}
.clear-hash{
    transition: ease .4s all;
    text-align: center;
    width: 100px;
    margin-top: 35px;
    margin-left: auto;
    color: rgba(255, 255, 255, 0.466);
    &:hover{
        cursor: pointer;
        transform: scale(1.4,1.4);
        color: red;

    }
    &__text{
        word-spacing: 5px;
        text-transform: uppercase;

        font-size: 9px;
        font-weight: bold;
        @include chivo;
        border-bottom: rgba(255, 0, 0, 0.397) 1px solid;
    }
    &__button{
        margin-right: -8px;
        color: rgba(255, 109, 109, 0.719);
        font-size: 13px;
        border: 0;
        background-color: transparent;

    }
}
.wrapper{
    width: 900px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 1100px;
    @media screen and (max-width:992px){
        width: 96vw;
    }
    @media screen and (max-width:768px){
        flex-direction: column;
    }
  
}
*{
    margin: 0px;
    box-sizing: border-box;
}

.day-list{
    
     -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 650px;
    background-color: #272727;
    overflow-x: hidden;
    width: 33%;
    @media screen and (max-width:768px){
        height: 250px;
        width: 100%;
        align-items: flex-start;
        padding-left: 130px;
        
    }
    @media screen and (max-width:400px){
        padding-left: 80px;
        
    }
}
.day{
    &:active{
        transition:  0s all ease-in;
        color: #d8d8d8;
    }
    &:hover{
        cursor: pointer;
        opacity: 1;
        transform: scale(1.2,1.2);
    }
    transition: ease-in .3s all;
    opacity: 0.4;
    position: relative;
    letter-spacing: 3px;
    @include lobster;
    font-weight: bold;
    line-height: 150%;
    font-size: 55px;
    @media screen and (max-width:768px){
       font-size: 70px;
        
    }
    color: #c6a567;

    &__line{
        position: absolute;
        left: -130px;
        top: 43px;
        width: 90px;
        height: 2px;
        background-color: #c6a567d7;
        &--sub1{
            height: 1px;
            top: 15px;
            width: 60px;
            opacity: 0.7;
            background-color: #c6a567d7;
        }
        &--sub2{
            height: 1px;
            top: 70px;
            width: 60px;
            opacity: 0.7;
            background-color: #c6a567d7;
        }

    }
    &__sub{
        margin-left: -10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0px;
    }
    &--active{
        opacity: 1;
        transform: scale(1.2,1.2);
    }
    
}
.day.day--active>.day__line{
    background-color: #f54b17;
}
.button{
    transition: .4s all ease-in;
font-size: 20px;
z-index: 10;
top: 0px;
border: 0;
 background-color: transparent;
color: #c6a567;
&:focus{
    outline: none;
}
&:hover{
    cursor: pointer;
   color: rgba(247, 141, 43, 0.815);
}
&:active{
   transition: 0s all ease-in;
    color: rgba(250, 216, 184, 0.815);
}
    &--days{
        position: sticky;
        background-color: transparent; 
        font-size: 70px;
        &:hover{
            box-shadow: 0 0 10px 1000px #27272779;
        }
        @media screen and (max-width:768px){
        left: 75%;
           top: 60px;
           width: auto;
        font-size: 60px;
        }
    }
    &--task_page{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 45px;
    }
    &--task{
        transition: ease-in .3s all;
        opacity: 0;
       
    }
    &-block{
        margin-left: auto;
    }
    &--add_task{

        font-size: 30px;
    }
}
.task-page{  
 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 66%;
    height: 650px;
    background: rgb(46,46,46);
background: linear-gradient(90deg, rgba(46,46,46,1) 2%, rgb(61, 61, 61) 30%, rgba(51,51,51,1) 77%);
@media screen and (max-width:768px){
    min-height: 350px;
    width: 100%;
}

    &__title{
        @include dancingScript;
        margin-bottom: 50px;
        font-size: 60px;
        font-weight: bold;
        color: #c6a567;
        @media screen and (max-width:568px){
            font-size: 47px
             
         }
    }
    &__input{
        @include kalam;
        padding-left: 15px;
        font-size: 20px;
        color: #d8d8d8b7;
        margin-bottom: 20px;
        width: 75%;
        height: 60px;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid rgba(214, 160, 126, 0.336);
        &::placeholder{
            font-size: 19px;       
            color: #d8d8d84b;
        }
        &:focus{
            outline: none;
        }
        
    }
    &__inner{
        width: 80%;
        height: 80%;
        @media screen and (max-width:568px){
          width: 95%;
          text-align: center;
            .task-page__input{
                width: 85%;
            } 
         }
    }
    &__task-list{
        width: 100%;
        overflow: auto;
        max-height: 320px;
        height: 300px;
        @media screen and (max-width:768px){
            height: 300px;
            
        }
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    }
    &__task-wrapper{
        height: 40px;
        display: flex;
        &:hover .button{
            opacity: 1;
        }
        &:hover{
            cursor: pointer;
            border-bottom: 1px rgba(209, 161, 131, 0.274) dashed;
        }
    }
&__task{
    @include chivo;
    margin-top: 5px;
    transition: ease-in-out .2s;
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 22px;
    color: rgba(230, 230, 230, 0.644);
    font-weight: bold;
    line-height: 80%;
    @media screen and (max-width:450px){
        width: 70%;        
    }
    &--active{
        text-decoration: line-through;
        opacity: 0.3;
        }
        &-input{
            @include chivo;
            color: rgba(230, 230, 230, 0.644);
            width: 100%;
            height: 100%;
            background-color: rgba(46, 46, 46, 0.63);
            border: 0;
            border-radius: 5px;
            padding-left: 15px;
            font-size: 22px;
            &:focus{
                outline: none;
            }
            &::placeholder{
                font-size: 25px;
                @include dancingScript;
                color: #d8d8d8b9;
            }
        }
    }
    &__check{
        margin-left: 5px;
        margin-right: 15px;
        vertical-align: middle;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 2px rgb(214, 160, 126) solid;
        &--active{
            background-color: rgb(214, 160, 126);
            border: 1px black solid;
        }
    }
    
}