body{
    background-image: url(https://i.ibb.co/z8ZSVD5/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (min-width:768px){
        padding-top: 50px;
    }
}